*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html{
    background-color: #dff0f5;
}
h1{
    color: #1679AB;
    text-align: center;
    font-size: 10vh;
}
h2{
    color: #18906e;
    font-size: 4vh;
}
h3{
    color: #478CCF;
    font-size: 3vh;
}

ul, ol{
    padding: 30px;
}

li{
    padding: 10px;
    list-style: decimal;
}
